.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  .modal-content {
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 38px;
    width: 300px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.25s ease-in-out;

    button {
      padding: 8px 14px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
    }
    .simple-form {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 300px;

      .submit-error {
        color: red;
        font-size: 14px;
        text-align: center;
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 4px;
      }

      input,
      select {
        padding: 8px 10px;
        border-radius: 6px;
        border: 1px solid #ccc;

        &:focus {
          outline: none;
          border-color: #4f46e5;
        }
      }

      button {
        margin-top: 10px;
        padding: 10px;
        border-radius: 8px;
        border: none;
        background: #4f46e5;
        color: white;
        cursor: pointer;
      }
    }
  }
}
