$primary: #4a4a4a;

body {
  margin: 0;
  font-family: "Assistant", sans-serif;
  background: #f7f7f7;
  direction: ltr;

  h1 {
    color: $primary;
  }
}

.page-container {
  margin: 0 auto;
  padding: 0 240px;
  display: flex;
  gap: 23px;
  margin-top: 28px;
  flex-direction: column;
}

.container {
  padding: 6px 20px;
  display: grid;
  background: white;
  border-radius: 12px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.08);
  gap: 20px;
  flex-direction: column;
  width: fit-content;
}

.container-item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
}
