$primary: #4a4a4a;

body {
  margin: 0;
  font-family: "Assistant", sans-serif;
  background: #f7f7f7;
  direction: ltr;

  h1 {
    color: $primary;
  }
}

.page-container {
  margin: 0 auto;
  padding: 0 240px;
  display: flex;
  gap: 23px;
  margin-top: 28px;
  flex-direction: column;
}

.container {
  padding: 6px 20px;
  display: grid;
  background: white;
  border-radius: 12px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.08);
  width: fit-content;

  .container-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
    padding: 20px;
  }
}

.add-btn {
  background: #1a73e8;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #0f5ccd;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  .modal-content {
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    width: 300px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.25s ease-in-out;

    button {
      padding: 8px 14px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
    }
    .simple-form {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 300px;

      .submit-error {
        color: red;
        font-size: 14px;
        text-align: center;
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 4px;
      }

      input,
      select {
        padding: 8px 10px;
        border-radius: 6px;
        border: 1px solid #ccc;

        &:focus {
          outline: none;
          border-color: #4f46e5;
        }
      }

      button {
        margin-top: 10px;
        padding: 10px;
        border-radius: 8px;
        border: none;
        background: #4f46e5;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  margin-bottom: 0px;
}

.list-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 8px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
