.container {
  padding: 6px 20px;
  display: grid;
  background: white;
  border-radius: 12px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.08);
  gap: 20px;
  flex-direction: column;
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
}
