.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  margin-bottom: 0px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 8px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
