.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;

  .login-card {
    width: 350px;
    padding: 25px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 9px;

    .login-title {
      text-align: center;
      margin-bottom: 10px;
    }

    .login-label {
      font-size: 14px;
    }

    .login-input {
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    .login-button {
      margin-top: 1px;
      padding: 10px;
      background: #4c6ef5;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      transition: 0.2s;

      &:hover {
        background: #3b5bdb;
      }
    }

    .login-error {
      color: red;
      font-size: 14px;
      text-align: center;
    }

    .register {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      .link {
        color: #4c6ef5;
      }
    }
  }
}
