.card {
  width: 220px;
  height: 130px;
  padding: 16px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
}

.card-header {
  h3 {
    font-size: 19px;
  }

  .trash-icon {
    font-size: 19px;
    color: #888;
    cursor: pointer;
    margin-left: auto;

    &:hover {
      color: red;
    }
  }
}

.headers {
  font-size: 16px;
  white-space: pre-line;
}

.borrow-btn {
  background: #1a73e8;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: fit-content;
  margin-top: auto;

  &:hover {
    background: #1558b0;
  }
}
