.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.08);

  .text-section {
    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
    }

    p {
      margin: 8px 0 0 0;
      color: #555;
      font-size: 14px;
    }
  }

  .add-btn {
    background: #1a73e8;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #0f5ccd;
    }
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  .modal-content {
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    width: 300px;
    max-width: 90%;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.25s ease-in-out;

    h2 {
      margin-top: 0;
    }

    p {
      margin: 12px 0 20px;
      color: #555;
    }

    button {
      padding: 8px 14px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
    }
    .simple-form {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 300px;
      
      .submit-error {
        color: red;
        font-size: 14px;
        text-align: center;
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 4px;
      }

      input,
      select {
        padding: 8px 10px;
        border-radius: 6px;
        border: 1px solid #ccc;

        &:focus {
          outline: none;
          border-color: #4f46e5;
        }
      }

      button {
        margin-top: 10px;
        padding: 10px;
        border-radius: 8px;
        border: none;
        background: #4f46e5;
        color: white;
        cursor: pointer;
      }
    }
  }

  .add-book-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;

    .add-book-input,
    select,
    input[type="number"] {
      padding: 10px 12px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: #4f46e5;
        box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.15);
      }
    }
  }
}
