.pagination {
  display: flex;
  align-items: center;
  gap: 12px;

  button {
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    opacity: 0.4;

    &:disabled {
      cursor: not-allowed;
    }
  }

  font-weight: bold;
}
